<!-- Just an image -->
<nav class="navbar navbar-light ">
    <a class="navbar-brand logo" href="#">
        <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX38005122.jpg" width="30" height="30" alt="">
    </a>
    <!-- <button class="btn btn-outline-primary">search</button> -->
</nav>

<!-- carousel-->
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card-group">
                <div class="card">
                    <iframe width="360" height="215" src="https://www.youtube.com/embed/OiTiKOy59o4" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="card">
                    <iframe width="360" height="215" src="https://www.youtube.com/embed/j9Hjrs6WQ8M" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="card">
                        <iframe width="360" height="215" src="https://www.youtube.com/embed/Lm8p5rlrSkY" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card-group">
                <div class="card">
                        <iframe width="360" height="215" src="https://www.youtube.com/embed/89Kq8SDyvfg" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="card">
                    <iframe width="360" height="215" src="https://www.youtube.com/embed/79Q2rrQlPW4" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="card">
                    <iframe width="360" height="215" src="https://www.youtube.com/embed/wb49-oV0F78" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
        
    </div>

</div>

