<section id="footer">
    <ul class="icons">
        <li><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
        <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
        <li><i class="fa fa-twitch" aria-hidden="true"></i></li>
        <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
        <li><i class="fa fa-youtube-play" aria-hidden="true"></i></li>
    </ul>
    <ul class="list1">
        <li>Home</li>
        <li>About Us</li>
        <li>Site Index</li>
        <li>CinemaPro</li>
        <li>Box Office Mojo</li>
        <li>Contact Us</li>
    </ul>
    <ul class="list2">
        <li>Subscribe</li>
        <li>Advertising</li>
        <li>Jobs</li>
        <li>FAQs</li>
        <li>Cookie Policy</li>
        <li>Terms & Conditions</li>
    </ul>
    <!-- <p class="an">an</p>
    <img src="https://cdn.freebiesupply.com/images/large/2x/amazon-logo-white.png" alt="">
    <p class="company">company</p> -->
    <p class="copyr">© Blockchain Project Inc.</p>

</section>